[submodule "modules/ns-tflm"]
	path = modules/ns-tflm
	url = https://github.com/AmbiqAI/ns-tflm.git
[submodule "modules/ns-cmsis-nn"]
	path = modules/ns-cmsis-nn
	url = git@github.com:AmbiqAI/ns-cmsis-nn.git
